[Desktop Entry]
Name=Ethereal Waves
Name[uk]=Лунохвиля
Comment=Music player based on libcosmic
Comment[cs]=Hudební přehrávač postavený na libcosmic
Comment[uk]=Музичний програвач на базі libcosmic
Type=Application
Icon=com.galacticpirateradio.ethereal-waves
Exec=ethereal-waves %F
Terminal=false
StartupNotify=true
Categories=COSMIC;AudioVideo;Audio;Player;
Keywords=COSMIC;AudioVideo;Audio;Player;
Keywords[cs]=COSMIC;Média;Zvuk;Audio;Přehrávač;
Keywords[uk]=COSMIC;Космік;Звук;Аудіо;Музика;Програвач;
